.contain {
	width: 100vw;
	min-height: 90vh;
	position: fixed;
	background-image: linear-gradient(45deg, #b4223b, #5d188b);
	overflow-y: scroll;
	overflow-x: hidden;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 1vw;
	padding: 2vw;
}

.card {
	height: 15.30vw;
}

.card-img-top {
	width: 10vw;
	height: auto;
	overflow: hidden;
}

@media (max-width: 576px) {
	.contain {
		top: 0;
		bottom: 0;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.grid-container {
		grid-template-columns: auto;
		padding: 4vw;
	}
	.card {
		width: 100vw;
		height: 15vh;
	}
	.card-img-top {
		width: 9.7vh;
	}
	h1,
	h5 {
		font-size: xx-small;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	* {
		font-size: x-small;
	}
}

@media (min-width: 577px) and (max-width: 767.98px) {
	* {
		font-size: xx-small;
	}
	.card-body {
		padding: 0;
	}
}
